  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

  body {
    background-color: #eeeeee;   
    height: 100vh;
  }

  /* Estilizando container*/

  #container div {
    background:#ffffff; 
    font-family: 'Carter One', cursive; 
    width:1440px; 
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    border-bottom: groove rgb( 128, 128, 128, 0.6);
    border-bottom-right-radius: 5% ;
    padding: 20px;
    margin: 0px auto;
    margin-left: 25px;
    position: fixed;

  }
  
  #container img {
    width: 230px; 
  }

  #container .titulo1 {
    position:relative;
    right: 270px;
    top: 40px;
    font-size: x-large;
    color: #2458c8;
    display: flex;
    align-items: flex-start;

  }
    
   #container .titulo2 {  
    align-self: center;
    position: relative;
    right: 45px;
    bottom: 20px;
  } 

    #container button { 
    width: 80px;
    font-family: 'Carter One', cursive; 
    color: #2458c8;
    border: solid white;
    height: 100%;
    font-size: x-large;;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    top: 75px;
    right: 150px;    
    cursor: grab;
   } 

   #container button:hover {
    border-bottom: groove rgb( 128, 128, 128, 0.6);
    border-right: groove rgb( 128, 128, 128, 0.6);
    border-bottom-right-radius: 20%;
    
   }
   /* Estilizando foto do bolo e titulo*/

   h3 {
    text-align: center;
    color: #01050d;
    font-size: x-large;
    padding-top: 230px;
    font-family: 'Carter One', cursive; 
   }  

   figure  {
    width: 100%;
    padding: 40px 300px 20px 300px;
    text-align: center;
    display: flex;   
    flex-flow: column;
   }

   figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center; 
   }

